<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mybankmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBankMate"
        tools:targetApi="31">
        <activity
            android:name=".PrivacyLegalActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate"  />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate"  />
        <activity
            android:name=".FAQActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate" />
        <activity
            android:name=".ManagePayeesActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate" />
        <activity
            android:name=".AddPayeeActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate" />
        <activity
            android:name=".PayBillActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate" />
        <activity
            android:name=".EditPayeeActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.MyBankMate" />
        <activity
            android:name=".BetweenMyAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".SendMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminManagementActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagementActivity"
            android:exported="false" />
    </application>

</manifest>